
@media screen and (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
  body {
    background-color: lightgreen; /* Example style */
  }
}

@media screen  and (min-width: 800px) and (max-width: 1224px) and (orientation: portrait) {

  video{
    position: absolute;
    z-index: 9999;
    top:0;
    left:0;
  }

  .logo_box--image{
    z-index: 99999;
    position: relative;;
  }
  .risks_intro_container{
    height:50%;
  }
  .risks_slideshow{
    height:1200px;
  }
  .text_slide .title {
    font-size:70px;
  }
   .text_slide .subtitle {
     font-size:60px;
     text-align: center;
   }
  .why_intro_learn{
    font-size:30px;
    padding:25px;
  }

  #company_name {
    font-size: 55px;
    color:white;
  }
  .mission_container{
    padding-bottom:10%;
    padding-top:20px;
    padding-right:60px !important;
    padding-left:60px !important;
  }
  .join_us_container {
    top: 50%;
  }
  .checkbox_join{
    margin-top:50px;
    height:40px;width:40px;
  }
  .waiver{
    margin-top:30px;
    margin-left:20px;
  }
  .mission_container .subtitle {
    font-size: 40px;
    margin-top: 20px;
  }
  .mission_container .title {
    text-align: center !important;
    font-size: 100px !important;
    margin-top:50px
  }


  .why_intro_container .title {
    font-size: 100px;
  }

  .why_intro_container{
    padding-bottom:10%;
  }
  .why_intro_learn{
    padding:20px;
    font-size:30px;
  }




  .landing-container .title {
      color: white;
      font-size: 3rem;
      text-shadow: 0px 0px 10px black;
      margin-bottom: 1rem;
  }
  .showcase{
    height:80vh;
  }
  .landing-container h1{
    font-size:4rem;
  }
  .logo--show{
    width:200px ;
    height:200px ;
  }
  .chatgpt-input{
    padding:10px;
    width:700px ;
    font-size:20px ;
    padding:40px ;
    margin-top:50px;
  }
  .landing-form button{
    font-size:20px;
    font-family: "Kanit";
    width:50%;
    padding:1rem;
  }

  .showcase{
    height:80vh !important;
  }

  .solutions_intro_container {
    padding-top: 10% !important;
  }
}


@media screen and (max-width:780px){
  .landing-form input, .landing-form button{
    font-size:40px !important;
  }
  .logo--show{
    width:300px ;
    height:300px ;
  }
    .landing-form input{
      padding:45px !important;
    }
    .landing-container .title{
      font-size:9rem;
    }
    .risks_intro_container{
      height:100%;
    }
    .in_transition--right{
      height:50vh !important;
    }
    .risks_slideshow--visual{
      height:20vh !important;
    }
    .text_slide button{
      font-size:40px;
      padding:30px;
    }
    .solutions_intro_container .title{
      font-size:80px;
    }
    .solutions_intro_container{
    padding:20% !important;
    margin-top:40% !important;
  }


}
