@media screen and (max-width: 768px) {
    .mission_container {
        padding-top: 20%;
        padding-bottom: 30%;
        margin-top: -5%;
        text-align: center;
    }

    .mission_container .title {
        font-size: 45px !important;
        margin-top: 20px;
    }

    .mission_container .subtitle {
        font-size: 28px !important;
        margin-top: 10px;
    }

    .mission_description {
        font-size: 22px;
        letter-spacing: 1px;
        padding: 0 10px;
    }
}

/* Extra Small Screens (Phones Below 400px) */
@media screen and (max-width: 400px) {
    .mission_container {
        margin-top: -50%;
        padding-top: 25%;
        padding-bottom: 40px;
    }

    .mission_container .title {
        font-size: 35px !important;
    }

    .mission_container .subtitle {
        font-size: 22px !important;
    }

    .mission_description {
        font-size: 18px;
        letter-spacing: 1px;
    }
}

.mission_container {
    padding: 20px 0;
    position: relative;
    overflow: hidden;
    background: linear-gradient(
        to bottom,
        rgba(87, 131, 143, 1),
        rgba(30, 79, 88, 0.9),
        rgba(30, 79, 88, 0.5)
    ), url("./../../imgs/oooo.png") no-repeat center;
    background-size: cover;
    color: white;
    padding-top: 5%;
    padding-bottom:10%;
    font-family: "Kanit", sans-serif;
}

.mission_container .title {
    text-align: center !important;
    font-size: 60px !important;
    margin-top: 30px;
    font-weight: 600 !important;
}

.mission_container .subtitle {
    text-align: center;
    font-size: 40px;
    margin-top: 20px;
    font-weight: 300;
}

.mission_description {
    text-align: center;
    font-size: 30px;
    letter-spacing: 2px;
    margin-top: 10px;
    font-weight: 200;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
}

/* Activate description fade-in */
.mission_description--active {
    opacity: 1;
    animation: fade_in 2s ease-in-out 1;
}

.mission_vid {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.mission_title, .mission_subtitle {
    opacity: 0;
    transition: transform 0.8s ease-out, opacity 0.8s ease-out;
}

/* Slide-in animations */
@keyframes slide_from_bottom {
    0%, 50% {
        transform: translateY(100px);
        opacity: 0;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes slide_from_right {
    0%, 70% {
        transform: translateX(100px);
        opacity: 0;
    }
    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

/* Activate animations */
.mission_title--active {
    opacity: 1;
    animation: slide_from_bottom 1s ease-in-out 1;
}

.mission_subtitle--active {
    opacity: 1;
    animation: slide_from_right 1.5s ease-in-out 1;
}
