.risk_slide_icon {
    width: 50%;
    left: 25%;
    opacity: 0.2;
    top: 20%;
    position: absolute;
}

.title--soft {
    color: white;
    opacity: 0.2;
    position: absolute;
    left: 0;
    top: 10%;
    width: 100%;
    font-size: 45px;
    text-align: center;
    font-style: italic;
    font-weight: 300;
    text-transform: capitalize;
    font-family: "Nunito Sans", sans-serif;
}

.risks_slideshow--visual {
    clip-path: polygon(0% 0%, 100% 0%, 75% 100%, 0% 100%);
    width: 50%;
    height: 100%;
    z-index: 999;
    position: relative;
}

.risks_slideshow--visual img {
    height: 100vh;
    background-position: center;
    transform: scaleX(-1.2);
}

.risks_slideshow--text {
    clip-path: polygon(35% 0, 100% 0%, 100% 100%, 18% 100%);
    z-index: 9;
    width: 80%;
    text-align: justify;
    height: 99.2%;
    background: white;
    position: absolute;
    top: -0px;
    right: 0;
}

.in_transition--left {
    animation: in_left 0.75s ease-in forwards;
    transform: translateX(0);
}

.away_transition--right {
    animation: away_right 0.5s ease-in !important;
    opacity: 0;
    transform: translateX(800px);
}

.text_slide--1 {
    background: linear-gradient(to top right, rgb(45, 49, 59), rgb(79, 135, 180), rgb(79, 130, 185));
}

.text_slide--2 {
    background: linear-gradient(to top left, rgb(79, 135, 180), rgb(45, 49, 59));
}

.text_slide--3 {
    background: linear-gradient(to top left, rgba(22, 7, 24, 1), rgba(217, 121, 74, 0.9));
}

.text_slide{
  padding-left:35%;
}
.text_slide--3 .subtitle {
    font-size: 30px;
    font-weight: 600;
}

.text_slide .title {
    font-size: 80px;
    text-align: left;
    transform: skewX(-5deg);
    margin-top: 1.5%;
    padding: 50px;
    font-weight: 600;
}

.text_slide .subtitle {
    font-size: 27px;
    text-align: left;

    transform: skewX(-5deg);
    padding: 50px;
    font-weight: 400;
    margin-top: -5%;
    width: 70%;
}

.text_slide .subtitle--2 {
    font-size: 40px;
    font-weight: 500;
}

.away_transition--left {
    animation: away_left 0.5s ease-in forwards;
    opacity: 0;
    transform: translateX(-800px);
}

.risk_slide_button {
    width: 50%;
    padding: 10px;
    background: rgb(45, 49, 59);
    border: none;
    border-radius: 10px;
    color: white;
    font-weight: 500;
    font-family: "Nunito Sans", sans-serif;
    font-size: 30px;
    position: relative;
    transition: all 0.5s;
}

.risk_slide_button::after {
    position: absolute;
    height: 100%;
    width: 100%;
    content: "";
    left: 0;
    top: 0;
    box-shadow: 0 0 0 rgba(0, 0, 0, 0.2);
    border-radius: 50px;
    opacity: 1;
    transition: transform 0.4s, opacity 0.4s;
}

.risk_slide_button:hover {
    transform: translateY(-5px) scale(1.05);
    background: white;
    color: black;
}

.risk_slide_button:hover::after {
    transform: scale(1.2);
    opacity: 0;
    animation: grow_fast_btn 0.5s ease-in;
}

.in_transition--right {
    animation: in_right 0.75s ease-in forwards;
    transform: translateX(0);
}

.risks_intro_container {
    width: 100%;
    background: linear-gradient(to bottom, #57838f, #315468);
    position: relative;
    height: 100vh;
    padding-bottom: 5%;
    z-index: 999;
    border-bottom: 1px solid #57838f;
}

.risks_slideshow {
    position: relative;
}

@media screen and (orientation:portrait){
  .risks_slideshow--visual {
    width:100%;
    height:50vh !important;
    clip-path:none;
    height:none !important;
    position: relative;
  }

  .risks_slideshow--text {
    width:100%;
  clip-path:none;
    position: relative;
  }
  .text_slide{
    padding-left:0%;
    text-align: center;
    justify-content: center;
    display: flex;
    display: flex;
   flex-direction: column; /* Stack elements vertically */
   align-items: center; /* Center horizontally */
   justify-content: center; /* Center vertically */
   text-align: center;
  }
   .risks_slideshow--visual img{
     height:57.5vh;
     width:100%;
     object-fit: cover;
     position: relative;
   }

   .text_slide--3 .subtitle {
       font-size: 30px;
       font-weight: 600;
   }

   .text_slide .title {
       font-size: 70px;
       text-align: center;
   }

   .text_slide .subtitle {
       font-size: 40px;
       width:100%;
       text-align: center;
   }

   .text_slide .subtitle--2 {
       font-size: 40px;
       font-weight: 500;
   }
   .risk_slide_button{
     padding:20px;
   }
   .in_transition--left {
       animation: in_top 0.75s ease-in forwards;
       transform: translateY(0);
   }

   .away_transition--right {
       animation: away_bottom 0.5s ease-in !important;
       opacity: 0;
       transform: translateY(800px);
   }

   .in_transition--right {
       animation: in_bottom 0.75s ease-in forwards;
       transform: translateY(400px);
        height: 50%;
        animation: in_bottom 0.75sease-in forwards;
  }

   .away_transition--left {
       animation: away_top 0.5s ease-in forwards;
       opacity: 0;
       transform: translateY(-800px);
   }
   .in_transition--right{
     height:60vh !important;
     z-index:9999;;
   }



}
