.showcase_container--solutions{
  background: linear-gradient(to right bottom,
      rgba(5, 75, 102, 1),  /* Dark teal */
      rgba(59, 174, 160, .9),/* Light teal */
      rgba(59, 174, 160, .5),/* Green */
      rgba(199, 224, 155, 0),
      rgba(59, 174, 160, .7),
      rgba(59, 174, 160, 1)
  ), url("./../../imgs/solutions.png");
  height:100vh;
  background-size: cover;
  position: relative;
  background-position: bottom;
}

.showcase_container--solutions .text-container{
  position: relative;
  z-index: 99;
  padding:40px;
  font-size:40px;
  font-family: "Lato";
  color:white;
  text-shadow: 0px 0px 10px black;
}

.showcase_container--solutions .text-container .title{
  font-family: "Kanit";
  font-weight:400;
  font-size:80px;
  margin-top:7.5%;
}


.solution_detail_container{
  width:100%;
  background:black;
  bottom:-90%;
  padding:60px;
  position: absolute;
}

.join-btn{
  border-radius:10px;
  background:white;
  font-family:"Kanit";
  font-weight:300;
  border:none;
  padding:10px;
  font-size:20px;
  margin-top:40px;
}


.solution_detail_container{
  background: linear-gradient(to  bottom,
      rgba(5, 75, 102, 1),  /* Dark teal */
      rgba(59, 174, 160, 1),/* Light teal */
      rgba(59, 174, 160, 1)/* Green */

  );
}

.solution_detail_container .title{
  font-size:70px;
  text-align: center;
  font-weight: 600;
}

.solutions-grid{
  padding:30px;
  width:100%;
  padding-left:10px;
  padding-right:10px;
  display:grid;

  grid-template-columns: 30% 70%;
}

.solutions-grid div{
  padding:40px;
}

.cta-container .title{
  font-weight: 600;
  font-size: 50px;
}

.cta-container .join-btn{
  margin-left: 25%;
  width:50%;
}

.detail-container p {
  font-family: "Kanit";
  font-size:25px;
}

.inform-container p {

}
