@media  screen and (max-width:400px){

  .solution_choice_container {
    height: 60vh !important;
    margin-top:5% !important;
    width:100% !important;
  }

  .solutions_intro_container .title{
    margin-left: 5% !important;
    width: 90% !important;
    text-align: center  !important;
    font-size: 35px !important;
    font-weight: 100 !important;
  }

  .solution_choice_container button{
    position: relative !important;
    margin-top:12.5% !important;
  }

}

.join-btn {
  position: relative;
  background: rgb(0, 204, 204);
  border: none;
  font-family: "Kanit";
  font-weight: 400;
  color:#e6e6e6;
  box-shadow: 0px 0px 10px rgba(0,0,0,.5);
  z-index: 1;
  transition: all .5s !important;
  transform: scale(1) translateY(-0px);

}
.join-btn:after {
  position: absolute;
  content: "";
  width: 100%;
  height: 0;
  top: 0;
  left: 0;
  z-index: -1;
  border-radius: 5px;
  background-color: #eaf818;
  background-image: linear-gradient(315deg, #00b8b8 0%, #80e0e0 74%); /* Gradient with light turquoise shades */
  box-shadow: inset 2px 2px 2px 0px rgba(255,255,255,.5),  /* Inner shadow */
              7px 7px 20px 0px rgba(0,0,0,.1),   /* Outer shadow */
              4px 4px 5px 0px rgba(0,0,0,.1);    /* Additional outer shadow */
  transition: all 0.3s ease;
}
.join-btn:hover {
  color: #000;
}
.join-btn:hover:after {
  top: auto;
  bottom: 0;

  height: 100%;
}
.join-btn:active {
  top: 2px;
}

.join-btn:hover{
  transform: scale(1.1) translateY(-5px);
}

.solution_inner_container{
  overflow: hidden;
  padding:20px;
  margin-top:2.5%;
  position: relative;

}

.solutions_intro_container .title{
  color: white;
  text-align: center;
  font-size:60px;
  font-weight: 100;
  font-family: "Kanit";
}

.solution_choice_container{
  position: relative;
  width:32%;
  box-shadow: 0px 0px 20px rgba(0,0,0,.5);
  margin-left:1%;
  float:left;
  border-top:1px solid black;
  background:white;
  padding-bottom:5%;

}

.solution_choice_container button {
  background:black;
  color:white;
  width:50%;
  margin-top:5%;
  position: relative;
  /* margin-left:25%; */
  padding:10px;
  font-weight:200;
  border-radius:5px;
  border:none;
  letter-spacing: 2px;
  font-family: "Kanit";

  font-size:25px;
}
.solutions_intro_container{
  background:   #91b3c4;
  padding:40px;
}
.s-btn{
  transition:all 1s;
}

.s-btn:hover{
  background:#e6e6e6;
  color:black;
}

.solution_choice_container p {
  color:black;
  text-align: center;
  padding:10px;
  padding-top:20px;
  text-transform: uppercase;
  font-weight: 800;
  letter-spacing: 1px;
  font-family: "Inter Tight";
  font-size:22px;
}

.solution_choice_container img{
  width:100%;
  height:300px;
  clear: both;
  float:left;
  margin-bottom:5%;
  object-fit:cover
}

.solutions_intro_container  .solution_inner_container .solution_choice_container{
  opacity:0;
  transform:translateY(300px);
}

.solutions_intro_container--active .solution_inner_container .solution_choice_container--1{
  opacity:1;
  animation:solution_1 ease-in 1s 1;
  transform:translateY(0px);
}

.solutions_intro_container--active  .solution_inner_container .solution_choice_container--2{
  opacity:1;
  animation:solution_2 ease-in 1.5s 1;
  transform:translateY(0px);
}

.solutions_intro_container--active .solution_inner_container .solution_choice_container--3{
  opacity:1;
  animation:solution_3 ease-in 2s 1;
  transform:translateY(0px);
}
