
@media screen and (max-width:400px){

    .why_intro_container .subtitle{
      font-size:20px !important;
      font-weight: 300 !important;
    }

    .why_fixed_background{
      background-size:cover;
      background-position: center !important;
      background-image: linear-gradient( rgba(0,0,0, .8), rgba(0, 0, 0, .5)), url("../../imgs/99.png") !important;
    }

    .why_intro_container .description{
      line-height: 1.5 !important;
      text-align: justify !important;
      width:90%;
      margin-left:5%;
    }

    .why_intro_container .title{
      text-align: center;
      font-size: 50px !important;
      font-weight: 100 !important;
      font-family: "Kanit";
    }

    .why_intro_container{
      padding: 0 !important;
      padding-bottom: 90px !important;
    }

}

.why_intro_container .title {
  text-align: center;
  font-size: 60px;
  font-weight: 900;
  font-family: "Kanit";
  margin-top:10px;
}

.why_intro_container .subtitle {
  text-align: center;
  font-weight: 700;
  font-size: 40px;
  margin-top: .5%;
  font-family: "Kanit";
}

.why_btn {
   width:50%;
   margin-top: 5%;
   margin-left:25%;
   padding:5px;
   background:none;
   box-shadow: 0px 0px 10px rgba(0,0,0,.4);
   color:white;
   border-width:0px;
   font-family: "Kanit";
   font-size:20px;
   border-radius:10px;
   transition: all .4s;
   padding:20px;
   position: relative;
   z-index:99999 !important;
   transform: translateY(0px);
}

.why_btn p {
  position: relative;
  z-index:99999 !important;
  padding:0;
}

.why_btn::after{
  position: absolute;
  background:none;
  border-radius:20px;
  height:100%;
  width:100%;
  z-index:1;
  content:"";
  left:0;
  top:0;
}

.why_btn:hover::after{
  background:black;
  opacity:0;
  animation: big_black .5s ease-in 1 ;
}

.btn_ani{
  transform: translateX(-100px);
  opacity:0;
}

.btn_ani--active{
  transform: translateX(0px);
  opacity:1;
  animation: slide_from_right 1 ease-in .5s;
}

.why_btn:hover{
  background:black;
}

.why_intro_container{
  padding:20px;
  position: relative;
  background-position:bottom;
  padding-bottom: 10%;
  padding-top:5%;
}

.why_fixed_background{
  z-index:-1;
  background-size: cover !important;
  height:100%;
  -webkit-backface-visibility: hidden;
  transform: translate3d(0,0,0);
  top:0%;
  width:100%;
  left:0%;
  position: fixed;
  object-fit: fill;
  background-position: center;
  background-image: linear-gradient(rgba(0,0,0, .65),rgba(0,0,0, .65)), url("../../imgs/99.png");
}

.why_intro_container p {
  color:white;
}
