@keyframes logo_into {
  0%{
    opacity:0;
    filter:brightness(0);
  }
  100%{
    opacity:1;
    filter:brightness(100);

  }
}

@keyframes logo_into--2 {

  0%{
    opacity:0;
  }
  60%{
      opacity:.3;
  }

  100%{
    opacity:1;
  }

}



@keyframes sun {
  0%{
    box-shadow: 0px 0px 0px orange;

  }
  20%{
    box-shadow: 0px 0px 50px orange;

  }
  30%{
    box-shadow: 0px 0px 50px orange;

  }
  100%{
    box-shadow: 0px 0px 0px orange;
  }
}




@keyframes slide_in{
  0%{
    opacity:0;
  }
  100%{
    opacity:1;
  }
}

@keyframes show_in {
  0%{
    opacity:0;
    color:teal;
  }
  100%{
    opacity:1;
    color:white;
  }
}


@keyframes appear {
  0%{
    opacity:0
  }
  100%{
    opacity:1;

  }
}


@keyframes video_intro {

  0%{
    filter:blur(0px)
  }
  100%{
    filter:blur(3px)
  }

}
