@media screen and (max-width:1200px) and (min-width:700px) and (orientation:landscape){
  .link_box{
    margin-left:5%;
  }
  .link_box--title{
    margin-right:10%;
  }
  .waves_container{
    margin-top: -30%;
  }
  .text_slideshow_column{
    margin-top:100px;
  }
  .grid-container--pollution{
    grid-template-rows:repeat(2,250px);
  }
}


p{
  color:white;
}


.solutions_intro_container {
  background: #91b3c4;
  padding: 40px;
  text-align: center;
}

.solutions_intro_container .title {
  color: white;
  text-align: center;
  font-size: 60px;
  font-weight:500;
  font-family: "Kanit";
}

.solution_inner_container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
  justify-content: center;
  margin-top: 20px;
}

.solution_choice_container {
  position: relative;
  width: 100%;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.5);
  border-top: 1px solid black;
  background: white;
  padding-bottom: 5%;
  transition: transform 0.3s ease-in-out;
}

.solution_choice_container img {
  width: 100%;
  height: 300px;
  object-fit: cover;
  margin-bottom: 5%;
}

.solution_choice_container p {
  color: black;
  text-align: center;
  padding: 10px;
  padding-top: 20px;
  text-transform: uppercase;
  font-weight: 800;
  letter-spacing: 1px;
  font-family: "Inter Tight";
  font-size:30px;
}

.solution_choice_container button {
  background: black;
  color: white;
  width: 50%;
  margin-top: 5%;
  padding: 10px;
  font-weight: 200;
  border-radius: 5px;
  border: none;
  letter-spacing: 2px;
  font-family: "Kanit";
  font-size: 25px;
  transition: all 1s;
}

.s-btn:hover {
  background: #e6e6e6;
  color: black;
}

.solutions_intro_container .solution_inner_container .solution_choice_container {
  opacity: 0;
  transform: translateY(300px);
}

.solutions_intro_container--active .solution_inner_container .solution_choice_container--1 {
  opacity: 1;
  animation: solution_1 ease-in 1s 1;
  transform: translateY(0px);
}

.solutions_intro_container--active .solution_inner_container .solution_choice_container--2 {
  opacity: 1;
  animation: solution_2 ease-in 1.5s 1;
  transform: translateY(0px);
}

.solutions_intro_container--active .solution_inner_container .solution_choice_container--3 {
  opacity: 1;
  animation: solution_3 ease-in 2s 1;
  transform: translateY(0px);
}

/* Responsive Design */
@media (max-width: 992px) {
  .solution_inner_container {
    padding:15%;
    padding-top:0%;
    padding-bottom: 20%;
    grid-template-columns: 1fr;

  }
  .solution_choice_container{
    padding-bottom:10%;
  }
  .solution_choice_container img {
    width: 100%;
    height: 500px;
    object-fit: cover;
    margin-bottom: 5%;
  }
}

@media (max-width: 768px) {
  .solution_inner_container {
    grid-template-columns: 1fr;
  }
}


@media screen  and (min-width: 728px) and (max-width: 1224px) and (orientation: portrait) {

  .link_box--title {
    margin-left: 2.5%;
    margin-right: 10%;
  }
  /* .nav-container{
    grid-template-columns: 40% 60%;
  } */
  .link_box {
    margin-left: 2.5%;
  }
  .logo_box--image {
    width: 55%;
    margin-left: 25%;
  }

  footer{
    padding-top:25% !important;
  }

}
