@media screen and (max-width:1200px) and (min-width:700px) and (orientation:landscape){
  .link_box{
    margin-left:5%;
  }
  .link_box--title{
    margin-right:10%;
  }
  .waves_container{
    margin-top: -30%;
  }
  .text_slideshow_column{
    margin-top:100px;
  }
  .grid-container--pollution{
    grid-template-rows:repeat(2,250px);
  }
}


p{
  color:white;
}

@media screen  and (min-width: 728px) and (max-width: 1224px) and (orientation: portrait) {

  .link_box--title {
    margin-left: 2.5%;
    margin-right: 10%;
  }
  .nav-container{
    grid-template-columns: 40% 60%;
  }
  .link_box {
    margin-left: 2.5%;
  }
  .logo_box--image {
    width: 55%;
    margin-left: 25%;
  }

  footer{
    padding-top:15%;
  }

}
