
.link_box{
  margin-left:10%;
  float: left;
  margin-top:20px;
  font-size:20px;
  box-shadow: 0px 0px 0px rgba(0,0,0,.2);
  border-radius:50px;
  padding:10px;
  transition: all .3s;
  position: relative;
  z-index:9;

}

@keyframes hover_link{
  0%{
    transform:scale(1);
    opacity:1;


  }
  50%{
    background:white;
    transform: scale(1.5);
    opacity:.2;
  }
  100%{
    opacity:0;
    transform: scale(1.5);
    background:white;
  }
}
.link_box:hover::after{
  animation:hover_link .3s ease-in 1;
}
.link_box {
    position: relative;
    z-index:999;
}
nav{
  z-index:9339393939;
  position: relative;
}
.link_box::after{
  background: none;
  box-shadow: 0px 0px 0px rgba(0,0,0,.2);
  position:  absolute;
  border-radius:50px;
  top:0;
  left:0;
  height:100%;
  width:100%;
  content:""
}

.divider_box{
  margin-right:35%;
  float: left;
  padding: 5px;
}

.link_box a {
  text-decoration: none;
  color:white;
}

.link_box--title a {
  text-decoration: none;
  color:white;
  transition: all .3s;
}

.link_box--title{
  margin-left:10%;
  float: left;
  margin-top:20px;
  font-size:20px;
  border-radius:50px;
}

.join_banner{
  position: fixed;
  width:100%;
  color:white;
  font-size:16px;
  top:0%;
  text-align: center;
  padding:10px;
  font-size:25px;
  left:0%;
  background:rgba(4, 13, 43, 1);
  z-index:11;
}

.join_banner_leave{
  z-index: 0;
  transform:translateY(-1000px);
  transition: all 1s;
}

.link_box:hover {
  transform: translateY(-2px);
  background:white;
  box-shadow: 0px -10px 20px rgba(0,0,0,.2) !important;
}

.link_box:hover a{
  color:black !important;
}

.link_nav_title{
  font-size:30px;
  text-transform: uppercase;
  font-weight:500;
  text-align: left;
}

.link_box--title{
  margin-left: 2.5%;
  margin-right: 5%;
}

nav{
  padding:0px;
  font-weight: 200;
  z-index:1102929291;
  left:0%;
  top:0%;
  position: absolute;
  padding-top: 5px;
  width:100%;
  color:white;
  overflow: visible;
  font-family: "Inter Tight";
  font-size:20px;
}

#logo_box{
  z-index:11;
  position: absolute;
  width:100% !important;
  top:10%;
}

.logo_box--image{
  width:25%;
  margin-left:37.5%;
  position: relative;
  bottom:20px;
  opacity:1;
  animation:logo_into 2s ease-in 1;
}

#company_name{
  font-size:45px;
  margin-top:-2.5%;
  left:-10%;
  animation:logo_into 2s ease-in 1;
  width:100%;
  font-weight: 200;
  text-align: center;
}
