.inner-container--risks{
  display: grid;
  grid-template-rows: 100%;
  height:100%;
  grid-template-columns:40% 60%;
  overflow: hidden;
}

.risks_showcase_container{
  width:100%;
  height:100vh;
}

.inner-container--risks .text-container{
    padding:20px;
    position: relative;
    background:linear-gradient(rgba(36,44,60),rgba(36,44,60));
}


#wave--side{
  transform:rotateZ(90deg) translateY(-100px);
  position: absolute;
  width:1000px;

}

.inner-container--risks .image-container{
    padding:20px;
    background: url("./../../imgs/showcase3.png");
}
