/* @media screen and (max-width:1200px) and (min-width:700px) and (orientation:landscape){
  .waves_container{
    margin-top: -30%;
  }
  .text_slideshow_column{
    margin-top:100px;
  }
  .grid-container--pollution{
    grid-template-rows:repeat(2,250px);
  }
}


@media screen  and (min-width: 728px) and (max-width: 1224px) and (orientation: portrait) {
  .showcase_why_container{
    height:80vh;
  }
  .text-contaier--warm_ocean{
    margin-top:15%;
  }
  .why_bubble--1{
    left:70%;
  }
  .why_bubble--2{
    top:70%;
  }
  .why_bubble--3{
    left:70%;
    top:80%;
  }
  .why_bubble--4{
    top:35%;
    left:17.5%;
  }
  .text-container--pollution{
    width:90%;
  }
  .fact_box{
    padding:40px;
    font-weight: 400;
    font-family: "Kanit";
  }
  .fact_col{
    padding-top: 40% !important;
  }
  .fact_col_button{
    width:100%;
    opacity:1;
  }
  .why_it_matters_container{
    top:0%;
    width:130%;
    font-size:7rem;
  }
  .showcase_why_container .title{
    top:10%;
    padding:70px;
  }
  .waves_container{
    margin-top:-30%;
  }
  .warm_ocean_section{
    height:60vh !important;
  }
  .toggle-container--warm_ocean{
    width:90% !important;
  }
}

p{
  color:white;
} */


@media screen  and (min-width: 728px) and (max-width: 1224px) and (orientation: portrait) {

  .showcase_why_container{
    padding:50px;
    padding-top:10% !important;
    padding-bottom: 10%;

  }

  .footer{
    padding-top:20% !important;
  }

  .showcase_why_container .title{
    font-size:62px;
    top:0%;
    position: relative;
  }
  .why_bubble p {
    font-size:35px;
  }
  .why_bubble--1{
    left:37.5%;
    top:30%;
  }
  .why_bubble{
    width:200px;
    height:200px;
  }
  .text-container--pollution{
    width:90%;
  }
  .footer{
    padding-top:15%;
  }
  .fact_col p {
    font-size: 20px;
    text-align: center;
  }
  .why_bubble--4{
    left:37.5%;
    top:50%;
  }
  .fact_col button{
    width:100%;

  }
  .warm_ocean_section{
    height:80vh;
  }
  .warm_ocean_section .grid-container{
    grid-template-columns: 2.5% 90%;
  }
  .why_bubble--3{
    left:60%;
    top:40%;
  }
  .why_bubble--2{
    left:15%;
    top:40%;
  }
  .why_it_matters_container{
    height:50vh;
  }
  .why_it_matters_container .description{
    margin-top:-100px;
  }
}


@media screen  and (max-width: 490px) and (orientation: portrait) {

  .showcase_why_container{
    padding:50px;
    padding-top:2.5% !important;
    padding-bottom: 10%;

  }

  .footer{
    padding-top:20% !important;
  }

  .showcase_why_container .title{
    font-size:44px;
    top:0%;
    position: relative;
  }
  .why_bubble p {
    font-size:25px;
  }
  .why_bubble--1{
    left:37.5%;
    top:30%;
  }
  .why_bubble{
    width:150px;
    height:150px;
  }
  .text-container--pollution{
    width:90%;
  }
  .footer{
    padding-top:15%;
  }
  .fact_col p {
    font-size: 20px;
    text-align: center;
  }
  .why_bubble--4{
    left:37.5%;
    top:55%;
  }
  .why_bubble--1{
    top:55%;
  }
  .fact_col button{
    width:100%;

  }
  .warm_ocean_section{
    padding-top:100px;
    height:none !important;
  }
  .warm_ocean_section .grid-container{
    grid-template-columns: 2.5% 90%;
  }
  .why_bubble--3{
    left:85%;
    top:80%;
  }
  .text_slideshow_column{
    margin-top:-40%;
  }
  .toggle-container--warm_ocean{
    width:100%;
  }
  .lava{
    bottom:-10%;
  }
  .why_bubble--2{
    left:15%;
    top:85%;
  }
  .why_it_matters_container{
    height:50vh;
  }
  .why_it_matters_container .description{
    margin-top:-100px;
  }
  .fact_grid{
    grid-template-columns: 1fr;
  }
  .fact-content .description{
    font-size:17px;
  }
  .img_col .title{
    font-size:30px !important;
  }
  .fact-content .subtitle{
    font-weight:900;

    font-size:18px;
  }
  .fact-content .description{
    font-size:17px;
    margin-top:2.5%;
  }
  .fact-content a button{
    width:100%;
    color:black;
  }
}
