.why_it_matters_container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto auto;
    justify-items: center;
    align-items: center;
    width: 100%;
    position: relative;
    padding-top: 7.5%;
    height: 70vh;
    background: #4C9BB0;
    background-size: cover;
}

.why_it_matters_container .title {
    font-size: 5rem;
    color: white;
    letter-spacing: 4px;
    font-weight: 600;
    text-align: center;
    grid-row: 1;
}

.why_it_matters_container .title--2 {
    font-size: 8rem;
    position: absolute;
    color: white;
    opacity: 0.03;
    left: 0;
    top: 5%;
    width: 100%;
    letter-spacing: 2px;
    font-weight: 600;
    text-align: left;
    padding-left: 50px;
    grid-row: 1;
}

.why_it_matters_container .description {
    padding: 2.5%;
    font-size: 1.5rem;
    font-weight: 300;
    text-align: center;
    grid-row: 2;
}

.shape-fill {
    fill: #4C9BB0 !important;
}
