.inner-container--pollution {
    width: 100%;
    padding: 10px;
    background: linear-gradient(to right, rgba(22, 7, 24, 1), rgba(22, 7, 24, 0.4)), url("./../../imgs/p.png") no-repeat center top;
    background-size: cover;
    position: relative;
    height: 100%;
}

.rain-container {
    width: 100%;
    position: absolute;
    height: 100%;
    left: 0;
    top: 0;
}

.text-container--pollution {
    width: 60%;
    float: left;
    font-family: "Kanit", sans-serif;
    color: white;
    padding: 10px;
    transform: translateX(-300px);
    opacity: 0;
    position: relative;
    z-index: 99;
    transition: transform 1.5s ease-in, opacity 1.5s ease-in;
}

.text-container--pollution--active {
    transform: translateX(0);
    opacity: 1;
}

.text-container--pollution .title {
    font-size: 3rem;
    font-weight: bold;
}

.text-container--pollution .description {
    font-size: 1rem;
    font-weight: 300;
}

#rainCanvas {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
}

.grid-container--pollution {
    clear: both;
    width: 90%;
    margin: 0 auto;
    padding: 30px;
    display: grid;
    grid-gap: 20px;
    grid-template-rows: repeat(2, 250px);
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    position: relative;
    z-index: 99;
}

.polluted_section .graphic-container {
    width: 100%;
    position: absolute;
    opacity: 0;
    bottom: 50%;
    left: 0;
    z-index: 0;
}

.graphic-container img {
    width: 100%;
}

.resource_box {
    background: rgba(22, 7, 24, 1);
    padding: 30px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    transition: transform 0.5s ease, opacity 0.5s ease;
    animation: resource 1s ease-in forwards;
}

.resource_box .title {
    font-weight: bold;
}

.resource_box .description {
    font-size: 0.9rem;
}

.resource_box button {
    background: none;
    border: none;
    border-bottom: 1px solid white;
    color: white;
    font-family: "Kanit", sans-serif;
    font-size: 1rem;
    transition: color 0.5s ease, border-color 0.5s ease;
    cursor: pointer;
}

.resource_box button:hover {
    color: orangered;
    border-color: orangered;
}

.resource_box * {
    margin-top: 10px;
}
