@media screen and (max-width:400px){

    .why_oceans_rise_container{
      padding-top:10%;
      padding-bottom:20%;
      margin-top:-20% !important;
    }

    .why_oceans_slideshow {
      z-index:6;
      margin-top:-1% !important;
    }

    .slide_image{
      margin-left:25%;
      float:left;
      margin-top:10%;
      width:50%;
    }


   .toggle_arrows{
      top:95%;
      z-index:-2;
      visibility: hidden;
    }

   .arrow{
      width:5% !important;
    }

}

.why_oceans_slideshow{
  /* rgb(30,79,88,.1), rgb(87,131,143,.1) */
  background: linear-gradient(rgba(4, 13, 43, 1),rgba(4, 13, 43, 1));
  padding-bottom:10%;
  overflow: hidden;
  position: relative;
  padding-top: 5%;
}

.slide{
  visibility: hidden;
  width:0px;
  height:0px;
}

.toggle_arrows{
  top:80%;
  visibility: hidden;
  position:   absolute;
  width:100%;
}

.why_oceans_slideshow .active{
  width:100%;
  visibility: visible;
  height:auto;
}

.slide--1{
  width:100%;
  animation: 1 .7s ease-in slide_in;
  padding:1%;
}

.slide_image{
  width:25%;
  box-shadow: 0px 0px 40px orange;
  animation: sun infinite ease-in 5s;
  object-fit: contain;
  transform: scale(1);
  transition: all .4s;
  float: right;

  border-radius: 50%;
  margin-right: 10%;
}

.text_box{
  width:50%;
  float: left;
  color:white;
  font-weight:150;
  font-family: "Kanit";
  letter-spacing: 2px;
  text-align: justify;
  line-height:2;
  margin-left: 2.5%;
}


.text_box--1{
  opacity:1;
  font-size:17px;
}

.arrow{
  width:2%;
  position: absolute;
  filter:brightness(100);
}

.arrow--left{
  transform:rotateY(0deg);
  left:10%;
}

.arrow--right{
  transform:rotateY(180deg);
  right:10%;
}

.why_oceans_rise_container .title{
  font-size:40px;
  color:white;
  text-align: center;
  padding-top: 10%;
  font-weight:200;
  letter-spacing: 2px;
}

.why_oceans_rise_container .description{
  font-size:25px;
  padding-left: 5%;
  text-align: justify;
  width:90%;
  font-weight:100;
}

.why_oceans_rise_container{
  margin-top: -5%;
  padding-bottom:5%;
  background-size:cover;
  /* background: linear-gradient(to right bottom,rgba(30,79,88,1), rgba(87,131,143,1), ); */
  background:linear-gradient(rgba(4, 13, 43, .5),rgba(4, 13, 43, .6),rgba(4, 13, 43, .7),rgba(4, 13, 43, 1)), url("../../imgs/waves.png");
}
