.warm_ocean_section{
  height:100vh;
  overflow: hidden;
  width:100%;
  /* background-image: linear-gradient(to right bottom, rgba(22,7,24,.9), rgba(34,40,69,.9), rgba(217,121,74,.9)), url("./../../imgs/ocean/2.png"); */
  /* background-image: linear-gradient(to right bottom, rgba(22,7,24,.9), rgba(34,40,69,.9), rgba(217,121,74,.9)), url("./../../imgs/ocean/3.png"); */
  background-image: linear-gradient(to right bottom, rgba(22,7,24,1), rgba(34,40,69,.96), rgba(217,121,74,.9)), url("./../../imgs/ocean/1.png");
  /* background-image: linear-gradient(to right bottom, rgba(22,7,24,.9), rgba(34,40,69,.9), rgba(217,121,74,.9)), url("./../../imgs/ocean/4.png"); */

}

.warm_ocean_section .grid-container{
  display:grid;
  width:100%;
  height:100%;
  position:relative;
  grid-template-columns: 0% 60% 30%;
  grid-template-rows:50% 50%;
}


.bubble-container-effect img {
  height: auto;
  filter: brightness(0.8);
  width:100%;
}

.waves_container{
  z-index: 22;
}

.bubble-container-effect::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;

  z-index: 999;
  z-index:9999;
  border-radius:50%;
  background: linear-gradient(to right bottom, rgba(34,40,69,1), rgba(217,121,74,1));
  mix-blend-mode: multiply;
  pointer-events: none;
}

.bubble-container-effect{
  position: absolute;
}

.bubble {
  width:100%;
  height:100%;
     border-radius: 50%;
     background: linear-gradient(to bottom right, rgba(34,40,69,1), rgba(217,121,74,1));
     box-shadow:
       0 8px 15px rgba(0, 0, 0, 0.3),
       inset -5px -5px 10px rgba(255, 255, 255, 0.5),
       inset 5px 5px 15px rgba(0, 0, 0, 0.2);
  }

  .lava{
    width:400px;
    height:400px;
    background: linear-gradient(to bottom right, rgba(34,40,69,1), rgba(217,121,74,1));
    border-radius:50%;
    box-shadow:
    0px 8px 10px rgba(0,0,0,.5),
    inset -5px -5px -10px rgba(255,255,255,.5),
    inset 5px 5px 50px rgba(0,0,0,.1);

    position: absolute;
    bottom:0%;
  }

  .lava::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;

    z-index:9999;
    border-radius:50%;
    background: linear-gradient(to right bottom, rgba(34,40,69,1), rgba(217,121,74,1));
    mix-blend-mode: multiply;
    pointer-events: none;
  }

.parallax {
    position: absolute;
    will-change: transform;
    transition: transform 0.2s ease-out;
  }

.parallax--wave {
    position: absolute;
    will-change: transform;
    transition: transform 0.2s ease-out;
  }

  .parallax--wave--top{
    transform: rotateY(180deg);
    position: absolute;
    will-change: transform;
    top:-550px;
    transition: transform 0.2s ease-out;
  }

.waves_container{
  position:relative;
  margin-top:-20%;
}

.text-container--warm_ocean{
  width:100%;
  margin-top:10%;
}

.text-container--warm_ocean{
  text-align: center;
  padding:30px;

}
.text-container--warm_ocean p{
  margin-top:10px;
}
.text-container--warm_ocean .title{
  font-size:50px;
  font-weight:bold;
  text-align: left;
}

.text_slideshow_column p{
  position: relative;
  z-index: 999;
}


.text-container--warm_ocean .subtitle{
  font-size:30px;  font-weight:300;
  text-align: left;
}

.text-container--warm_ocean .description{
  font-size:17px;  font-weight:500;
  text-align: left;
}

.toggle-container--warm_ocean{
  margin-top:0%;
  width:50%;
  padding-left:30px;
  display: grid;
  grid-template-columns:50% 50%;
}

.transition--up{
  animation: up 1 1s ease-in;
  opacity: 1;
  transform: translate(0px);
}

.transition--down{
  animation: down 1 1s ease-in;
  opacity: 1;
  transform: translate(0px);
}


.transition--right{
  animation: right 1 1s ease-in;
  opacity: 1;
  transform: translate(0px);
}


.transition--left{
  animation: left 1 1s ease-in;
  opacity: 1;
  transform: translate(0px);
}


@keyframes up{
  0%{
    opacity:0;
    transform: translateY(-100px);
  }
  50%{
    opacity:0;
  }
  100%{
    opacity:1;
    transform: translateY(0px);
  }
}
@keyframes right{
  0%{
    opacity:0;
    transform: translateX(100px);
  }
  50%{
    opacity:0;
  }
  100%{
    opacity:1;
    transform: translateY(0px);
  }
}
@keyframes left{
  0%{
    opacity:0;
    transform: translateX(-100px);
  }
  50%{
    opacity:0;
  }
  100%{
    opacity:1;
    transform: translateY(0px);
  }
}
@keyframes down{
  0%{
    opacity:0;
    transform: translateY(100px);
  }
  50%{
    opacity:0
  }
  100%{
    opacity:1;
    transform: translateY(0px);
  }
}

.lava--up{
  animation: morphUp infinite ease-in 90s;
}
.lava--down{
  animation: morphDown
}
@keyframes morphUp{
  0%{
    transform: scale(1) translate(0px);
  }
  30%{
      transform: scaleY(1.2) translateY(-10px);
  }

  50%{
      transform: scaleY(1.1) scaleX(1)  translateY(-20px);
  }

  100%{
    transform: scale(1) translateY(0px) translate(0px);;

  }

}


@keyframes morphDown{
  0%{
    transform: scale(.1) translateY(-500px);
  }
  50%{
      transform: scaleY(.5) scaleX(.8);
  }
  50%{
      transform: scaleY(.5) scaleX(.8) ;
  }
  60%{
      transform: scaleY(.7) scaleX(.5) translateY(-300px);
  }
  70%{
      transform: scaleY(1) scaleX(1));
  }
  90%{
      transform: scaleY(1.5) scaleX(1) ;
  }
  100%{
      transform: scaleY(1) scaleX(1) translateY(500px);
  }
}
.warm-icon{
  margin-top:30%;
}
.full{
  width:100%;
}
