@media screen and (max-width:1200px) and (min-width:700px) and (orientation:landscape){

  .join_form_container{
    padding-top:150px;
  }
  .metric p {
    font-size: 1.6rem;
  }
  .s-btn{
    font-size:20px !important;
  }
}

@media screen  and (min-width: 728px) and (max-width: 1224px) and (orientation: portrait) {
  .form-container{
    padding-top:50px;
  }

  .form-container h1{
    color:teal !important;
  }
  .footer{
    padding-top:20%;
  }
  .showcase_container--solutions{
    height:70vh;
  }
  .solutions-grid div{
    padding:20px;
  }
  .join_form_container{
    padding-top:0px;

    grid-template-columns: 100%;
  }

  .metrics{
    grid-template-columns: 1fr;
  }
  .metric{
    padding-bottom:10%;

  }
  .metric p {
    font-size:3rem;
  }
  .solutions-grid{
    grid-template-columns: 1fr;
  }
}



@media screen  and (max-device-width: 490px){
   .showcase_container--solutions{
     height:100vh;
   }

   .showcase_container--solutions .text-container .title{
     font-size:80px !important;
     text-align: left !important;
   }
   .join_form_container{
     padding:10px !important;grid-template-columns: 1fr;
   }

   .showcase_container--solutions .text-container .title::before{
     font-size:80px;
     width:160%;
   }
   .watermark{
     width:100%;
     right:-34%;
     bottom:20%;
   }
   /* .solution_detail_container .title{
     font-size:85px !important;
   } */
   .cta--title{
     font-size:45px !important;
   }
   .join-btn{
     font-size:20px !important;
   }
   .detail-container{
     text-align: left;
     font-size:20px;
   }
   .impact-section h1{
     font-size: 6rem;
   }

   .metrics{
     grid-template-columns: 1fr;
   }
   /* .solutions_intro_container .title{
     font-size:45px !important;
   } */

   .solutions_intro_container{
     margin-top:0% !important;

   }
   .solutions_intro_container .title {
     font-size:70px !important;
   }
   .solution_choice_container img {
     height:200px;
   }
   .solution_choice_container p {
     font-size:25px !important;
     padding:10px;

   }
   .solution_choice_container button{
     font-size:20px !important;
   }
}

@media screen  and (max-device-width: 490px) and (orientation:landscape){
  .showcase_container--solutions .text-container .title{
    margin-top:20% !important;
  }
  .solution_detail_container .title{
    font-size:70px !important;
    padding-top:5%;
  }
  .solutions_intro_container{
    padding-top:0 !important;
  }
  .solution_inner_container{
    grid-template-columns: repeat(3,1fr) !important;
    padding:0% !important;
    padding-bottom:20% !important;
  }
  .solution_choice_container p{
    padding:30px;
    font-size:18px;
  }
  .solution_choice_container a button{
    font-size:17px !important;
  }
  .join_form_container{
    margin-top:-140px !important;
  }
  .solution_choice_container img{
    height:150px !important;
  }
  .watermark{
    bottom:-80% !important;
  }
  .showcase_container--solutions{
    background: linear-gradient(to  bottom,
         /* Dark teal */
        /* rgba(59, 174, 160, 1),*/
        /* rgba(199, 224, 155, 1), */
        rgba(59, 174, 160, 1),
        rgba(59, 174, 160, 1),
        rgba(87,131,143,1),
          rgba(5, 75, 102, 1)
    ), url("./../../imgs/solutions.png") !important;
}
