@media screen and (max-width:1200px) and (min-width:700px) and (orientation:landscape){

  .join_form_container{
    padding-top:150px;
  }
  .metric p {
    font-size: 1.6rem;
  }
  .s-btn{
    font-size:20px !important;
  }
}

@media screen  and (min-width: 728px) and (max-width: 1224px) and (orientation: portrait) {
  .form-container{
    padding-top:50px;
  }

  .form-container h1{
    color:teal !important;
  }
  .footer{
    padding-top:20%;
  }
  .showcase_container--solutions{
    height:70vh;
  }
  .solutions-grid div{
    padding:20px;
  }
  .join_form_container{
    padding-top:0px;

    grid-template-columns: 100%;
  }

  .metrics{
    grid-template-columns: 1fr;
  }
  .metric{
    padding-bottom:10%;

  }
  .metric p {
    font-size:3rem;
  }
  .solutions-grid{
    grid-template-columns: 100%;
  }
}
