.productivity_container{
  text-align: center;
  /* padding: 50px 20px; */
  margin-top: 40%;
  background: linear-gradient(to  top,
      rgba(5, 75, 102, 1),  /* Dark teal */
      rgba(59, 174, 160, 1),/* Light teal */
      rgba(59, 174, 160, 1)/* Green */

  );
}
.impact-section{
  padding:30px
}
.impact-section h1 {
  font-size: 7rem;
  font-family: "Kanit";

  margin-bottom: 20px;
  text-align: left;
}

.metrics {
  display: grid;
  grid-template-columns: repeat(3, 30%);
  width:100%;
  padding:40px;
  grid-gap:40px;
  padding-right:20px;
}

.metric {
  background: rgba(255, 255, 255, 0.1);
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 12px;
  padding: 20px;

  text-align: center;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
}

.metric img {
  width: 200px;
  height: 200px;
  margin-bottom: 15px;
}

.metric h2 {
  font-size: 3rem;
  margin: 0;
  font-weight: 300;
  font-family: "Kanit";
}

.metric p {
  font-size: 2rem;
  margin-top: 10px;
  font-family: "Kanit";


}

@media (max-width: 768px) {
  .metric {
    width: 90%;
  }
}
